body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.video-container {
    max-width: 800px;
    margin: 0 auto;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#videoPlayer{
    width: 100%;
    
}
#downloadLink{
    text-decoration: none;
    padding:20px;
    display: block;
    color: white;
    background-color: #0074d9;
}